# Clash Royale API Exploration

## Introduction

This notebook is dedicated to exploring the Clash Royale API. Clash Royale is a popular mobile game developed by Supercell. The API provides access to various game data such as player statistics, card information, clan details, and more.

## Objective

The objective of this notebook is to fetch data from the Clash Royale API, analyze it, and gain insights about the game dynamics.

## Table of Contents

1. Setting Up
2. Fetching Data
3. Data Analysis
4. Conclusion

## Setting Up

In this section, we will import necessary libraries and set up our API connection.

In [69]:
# Setting Up
import requests
import pandas as pd
import json

api_key = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6ImU3ZTgwNzUzLWY2MDItNGU5Mi05Nzg1LWYxZTYzY2MxNTE5ZiIsImlhdCI6MTcxMjcyMDU4MCwic3ViIjoiZGV2ZWxvcGVyLzlmNWRlMjU5LTMzYTAtODIzNy1lMDRiLTk2ZDlhNzdiNzk3MyIsInNjb3BlcyI6WyJyb3lhbGUiXSwibGltaXRzIjpbeyJ0aWVyIjoiZGV2ZWxvcGVyL3NpbHZlciIsInR5cGUiOiJ0aHJvdHRsaW5nIn0seyJjaWRycyI6WyI3NS4xMTguNzkuMyJdLCJ0eXBlIjoiY2xpZW50In1dfQ.XfTan4u80PMzqW8Z0nPD06CTmkLS7GxO30lMgVb8q2z7qa0hswqT4wPMija7RgeMz-YJGjKoMov-tn4r8IbrHg'
base_url = 'https://api.clashroyale.com/v1'

headers = {
    'Accept': 'application/json',
    'authorization': f'Bearer {api_key}'
}

## Fetching Data

Here, we will fetch data from the API and prepare it for analysis.

In [70]:
# Fetching Data
def fetch_data(endpoint):
    response = requests.get(f'{base_url}/{endpoint}', headers=headers)
    if response.status_code != 200:
        print(f'Request failed with status {response.status_code}')
        return None
    try:
        data = response.json()
        return data
    except json.JSONDecodeError:
        print('Failed to decode JSON response')
        return None

# Fetch  my player data
player_tag = '#929RUYUY'
player_tag_encoded = player_tag.replace('#', '%23')
player_data = fetch_data(f'players/{player_tag_encoded}')
# Fetch battle log
battle_log = fetch_data(f'players/{player_tag_encoded}/battlelog')
# Fetch clan data
clan_tag = '#2QY8CL'
clan_tag_encoded = clan_tag.replace('#', '%23')
clan_data = fetch_data(f'clans/{clan_tag_encoded}')
# Fetch clan members
clan_members = fetch_data(f'clans/{clan_tag_encoded}/members')

## Data Analysis

In this part, we will analyze the fetched data and try to gain insights.

In [71]:
# my Player Data Analysis
player_info_keys = ['tag', 'name', 'expLevel', 'trophies', 'bestTrophies', 'wins', 'losses', 'battleCount', 'threeCrownWins', 'challengeCardsWon', 'challengeMaxWins', 'tournamentCardsWon', 'tournamentBattleCount', 'role', 'donations', 'donationsReceived', 'totalDonations', 'warDayWins', 'clanCardsCollected']
player_info = {key: player_data[key] for key in player_info_keys}
df_player_info = pd.DataFrame([player_info])
df_player_info

,tag,name,expLevel,trophies,bestTrophies,wins,losses,battleCount,threeCrownWins,challengeCardsWon,challengeMaxWins,tournamentCardsWon,tournamentBattleCount,role,donations,donationsReceived,totalDonations,warDayWins,clanCardsCollected
0,#929RUYUY,Flippy,52,8255,8354,6803,4469,13065,1589,12191,16,688,705,member,190,120,134521,44,123461

In [72]:
#Clan Data Analysis
# get clan keys
clan_info_keys = list(clan_data.keys())
clan_info_keys
clan_info_keys = ['tag',
 'name',
 'type',
 'description',
 'badgeId',
 'clanScore',
 'clanWarTrophies',
 'location',
 'requiredTrophies',
 'donationsPerWeek',
 'clanChestStatus',
 'clanChestLevel',
 'clanChestMaxLevel',
 'members',
 'memberList']
clan_info = {key: clan_data[key] for key in clan_info_keys}
df_clan_info = pd.DataFrame([clan_info])
df_clan_info

,tag,name,type,description,badgeId,clanScore,clanWarTrophies,location,requiredTrophies,donationsPerWeek,clanChestStatus,clanChestLevel,clanChestMaxLevel,members,memberList
0,#2QY8CL,Semper Invictus,open,"Contribute For Clan Wars And Donate, All We As...",16000164,74328,2142,"{'id': 57000249, 'name': 'United States', 'isC...",2600,2750,inactive,1,0,50,"[{'tag': '#CLPVC2G80', 'name': 'manu', 'role':..."

In [73]:
# get clan members keys
player_array = clan_members['items']
tags = []
for player in player_array:
    # collect player tag
    tags.append(player['tag'])

In [74]:
ranks = []
for tag in tags:
    tag_encoded = tag.replace('#', '%23')
    player_info_temp = fetch_data(f'players/{tag_encoded}')
    #calc player winrate
    rate = player_info_temp['wins'] / (player_info_temp['wins'] + player_info_temp['losses'])
    #collect player name and winrate
    ranks.append([player_info_temp['name'], rate])

In [76]:
#sort player by winrate
sorted_rank = sorted(ranks, key=lambda x: x[1], reverse=True)
# put sorted rank in a df
df_rank = pd.DataFrame(sorted_rank, columns=['player_name', 'win_rate'])
df_rank

        player_name  win_rate
0        Wildspirit  0.809668
1              AnnK  0.721499
2             chriz  0.674679
3      DuckyMcCool2  0.643491
4        RREngineer  0.619583
5      Ducky McCool  0.611217
6          eggsauce  0.610150
7            Flippy  0.603531
8          apleisto  0.596313
9              manu  0.577954
10           ZilaiW  0.569646
11          jobe2.0  0.567052
12          Skill02  0.566708
13       m.alansari  0.565447
14         trex9000  0.564497
15            karlo  0.553781
16        Marcelo.q  0.544210
17            Marin  0.540627
18           Andres  0.540498
19            Baena  0.538436
20               MØ  0.534358
21            Lucky  0.532640
22            Pedus  0.525043
23            Angel  0.523324
24   The Dark Ghost  0.523288
25      PeskyInfant  0.522911
26   Stickolickolis  0.521199
27            lefty  0.520679
28         urfreelo  0.517872
29          prstn77  0.513618
30         gshdhdjj  0.509982
31   RAFAdelaG_ETTO  0.503606
32     WyckedGaming  0.499515
33    Firefalcon123  0.496424
34           Pinto2  0.496237
35      sakthibalan  0.493121
36        Minixfury  0.492537
37            David  0.478795
38       lapapaya24  0.474518
39              FOX  0.474059
40      skaggs3boys  0.473068
41        mike*****  0.468967
42              joe  0.461395
43  man'slookingsus  0.458269
44               BG  0.457496
45          jwizard  0.450330
46             will  0.439947
47          Fighter  0.431897
48       :)THEMATEJ  0.411647
49        j1m8ot1de  0.385180

## Conclusion

We will summarize our findings in this section.